body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FAF5F5;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #D35D6E;
    animation: move 5s infinite alternate;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(300px);
    }
}